*{
    border: 1px solid black;
    margin:5px;
    padding:0;
}
body, h1, h4{
    border:none;
}
h1{
    text-align:center;
}
div{
    width:300px;
    border: 1px solid black;
    margin:0 auto 10px;
}